.checkbox {
  display: block;
  background: #fff;
  border: 2px solid $background;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  &.checked {
    border-color: $text-secondary;
  }
}